/*=================================================================================
 * Useful CSS With Less
 *
 *================================================================================= */


/*
	The opacity property specifies the opacity/transparency of an element,
	For stupid IE (IE8 and earlier) use filter:alpha(opacity=x).

	Note: For supporting IE9, Add the following code to your HTML page in order to override filter property.
	<!--[if gte IE 9]>
	  <style type="text/css">
		* {
		  filter: none !important;
		}
	  </style>
	<![endif]-->
*/
.opacity(@opacity) {
	@percent: @opacity*100;
	opacity: @opacity;
	filter: alpha(opacity=@percent);
	zoom: 1;  /* Fix for IE7*/
}

/*
	The CSS border-radius property defines the radius of an element's corners.
		▸ If one value is set, this radius applies to all 4 corners.
		▸ If two values are set, the first applies to <top-left> and <bottom-right> corner, the second applies to <top-right> and <bottom-left> corner.
		▸ Three values: the first applies to <top-left> corner, and second applies to <top-right> and <bottom-left> corners, and third value applies to <bottom-right> corner
		▸ Four values apply to the <top-left>, <top-right>, <bottom-right>, <bottom-left> corner in that order.

	Note: If you would like to use elliptical border-radius, set @elliptical.

	Example:
	  .border-radius(150px 150px 150px 150px, 75px 75px 75px 75px);

	Output:
	  div.test {
		-webkit-border-radius: 150px 150px 150px 150px / 75px 75px 75px 75px;
		-moz-border-radius: 150px 150px 150px 150px / 75px 75px 75px 75px;
		border-radius: 150px 150px 150px 150px / 75px 75px 75px 75px;
	  }
*/
.border-radius(@radius; @elliptical:undefined) {
	& when (@elliptical = undefined) {
		-webkit-border-radius: @radius;
		-moz-border-radius: @radius;
		border-radius: @radius;
	}
	& when not(@elliptical = undefined) {
		-webkit-border-radius: @radius e('/') @elliptical;
		-moz-border-radius: @radius e('/') @elliptical;
		border-radius: @radius e('/') @elliptical;
	}
}

/*
	The border-image property allows you to specify an image to be used as the border around an element.
	The border-image property is a shorthand property for:
		▸ border-image-source
		▸ border-image-slice
		▸ border-image-width
		▸ border-image-outset
		▸ border-image-repeat.

	Example:
		.border-image(url(border.png) 30% stretch);

	Output:
		div.test {
			-webkit-border-image: url(border.png) 30% stretch;
			-moz-border-image: url(border.png) 30% stretch;
			-o-border-image: url(border.png) 30% stretch;
			border-image: url(border.png) 30% stretch;
		}

	Syntax:
		border-image: source | slice | width | outset | repeat
*/
.border-image(...){
	-webkit-border-image:@arguments;
	-moz-border-image:@arguments;
	-o-border-image:@arguments;
	border-image:@arguments;
}