/*=================================================================================
 * Useful CSS With Less
 *
 *================================================================================= */


/*
	The opacity property specifies the opacity/transparency of an element,
	For stupid IE (IE8 and earlier) use filter:alpha(opacity=x).

	Note: For supporting IE9, Add the following code to your HTML page in order to override filter property.
	<!--[if gte IE 9]>
	  <style type="text/css">
		* {
		  filter: none !important;
		}
	  </style>
	<![endif]-->
*/
.opacity(@opacity) {
	@percent: @opacity*100;
	opacity: @opacity;
	filter: alpha(opacity=@percent);
	zoom: 1;  /* Fix for IE7*/
}